<html>
  <head>
    <script src="/angularblog/assets/js/angular.min.js"></script>
    <script src="/angularblog/assets/js/kickstart.min.js" charset="utf-8"></script>
    <link rel="stylesheet" src="/angularblog/assets/css/kickstart.min.css"></link>
  </head>
  <body ng-app>
    <h1>This is the beginning of the song</h1>
    <div>
      <img src="/angularblog/assets/img/tumblr_m8b56uYUND1rzx9tdo1_1280.jpg">
      <img src="/angularblog/assets/img/tumblr_mphu7sf5w11rzx9tdo1_1280.jpg"
    </div>
  </body>
</html>
